.loan_list_term{
  display: flex;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0;
}

.loan_list_button {
  width: 95%;
  margin: 0 auto;
}


.loan_list_button-container {
  margin-top: 20px;
}