.lease_item_input-feald {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  border: 2px solid #E6E6E6;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 37px;
  padding-right: 15px;
  color: #555555;
  font-weight: 500;
  font-size: 14px;
}

.no_sign{
  padding-left: 15px;
}

.lease_item_input-caption {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
}

.lease_item_input-wrapper{
  display: flex;
  position: relative;
}

.lease_item_input-sign {
  position: absolute;
  top: 12px;
  left: 2px;
  width: 35px;
  height: 36px;
  line-height: 0.3;
  border: 0;
  text-align: center;
  vertical-align: middle;
}