.lease_item_select-feald {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  border: 2px solid #E6E6E6;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 37px;
  padding-right: 15px;
  color: #555555;
  font-weight: 500;
  font-size: 14px;
}


.lease_item_select-caption {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
}