.infocard_footer{
  width: 90%;
  margin: 0 auto;
  &--phone_image{
    position: relative;
    top: 3px;
    right: 5px;
  }
  &--stars_image{
    position: relative;
    top: 3px;
    right: 5px;
  }
  &--geo_image{
    position: relative;
    top: 3px;
    right: 5px;
  }
}